<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Novedades.Properties.Settings.StringConexionWeb" connectionString="server=winay.com.ar;User Id=winay_coke; password=rw}A-k2_sBvj; database=winay_crecer; port=3306;" />
    </connectionStrings>
</configuration>