<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Servidor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Servidor.Properties.Settings.StringConexion" connectionString="Initial Catalog=Crecer;Persist Security Info=True;User ID=sa;Password=030302;Data Source="
            providerName="System.Data.SqlClient" />
        <add name="Servidor.Properties.Settings.StringConexionWeb" connectionString="server=winay.com.ar;User Id=winay_winay; password=R[bZ6)cYq_e5; database=winay_crecer; port=3306;SSL Mode=0;" />
        <add name="Servidor.Properties.Settings.StringConexionNave7"
            connectionString="Initial Catalog=Crecer_3;Persist Security Info=True;User ID=sa;Password=030302;Data Source=" />
        <add name="Servidor.Properties.Settings.StringConexionVillaMaria"
            connectionString="Initial Catalog=Crecer_4;Persist Security Info=True;User ID=sa;Password=030302;Data Source=" />
        <add name="Servidor.Properties.Settings.StringConexionRioCuarto"
            connectionString="Initial Catalog=Crecer_5;Persist Security Info=True;User ID=sa;Password=030302;Data Source=" />
        <add name="Servidor.Properties.Settings.StringConexionSucursal6"
            connectionString="Initial Catalog=Crecer_7;Persist Security Info=True;User ID=sa;Password=030302;Data Source=" />
        <add name="Servidor.Properties.Settings.StringConexionIntegracion"
            connectionString="Initial Catalog=Crecer_Unificado;Persist Security Info=True;User ID=sa;Password=030302;Data Source=" />
        <add name="Servidor.Properties.Settings.StringConexionWiki" connectionString="Initial Catalog=Crecer_2;Persist Security Info=True;User ID=sa;Password=030302;Data Source=" />
    </connectionStrings>
    <userSettings>
        <Servidor.Properties.Settings>
            <setting name="StringConexionGuias" serializeAs="String">
                <value>Initial Catalog=Guias;Persist Security Info=True;User ID=sa;Password=030302;Data Source=</value>
            </setting>
        </Servidor.Properties.Settings>
    </userSettings>
</configuration>